.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
  backdrop-filter: blur(5px);
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  color: var(--color-peachpuff);
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
  padding-top: 25px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
  justify-content: flex-end;
  padding-top: 15px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: var(--color-peachpuff);
}

.nav-item .active {
  color: var(--color-peachpuff);
  border: 1px solid var(--color-peachpuff);
}

.nav-icon {
  display: none;
}
.groupInner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-peachpuff);
  border-radius: var(--br-lg);
  box-shadow: -10px 10px 3px rgba(0, 0, 0, 0.16);
  width: 150px;
  height: 39px;
}
.groupInner:hover{
  background-color: var(--color-peachpuff-light);
  width: 153px;
  height: 40px;
  box-shadow: -15px 15px 8px rgba(0, 0, 0, 0.204);
}
.getEarlyAccess {
  top: 19px;
  left: 90%;
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
  width: 155px;
}
.groupParent {
  top: 16px;
  left: 500px;
  width: 1722px;
  height: 76px;
}
.english {
  top: 8px;
  font-weight: 600;
  display: inline-block;
}
.americanFlag1Icon {
  height: 35px;
  object-fit: cover;
}
.groupIcon {
  top: 10px;
}
.englishParent{
  display: flex;
  flex-direction: row;
  float: left;
}
.languageButton {
  top: 33px;
  font-size: var(--font-size-base);
}
.menu {
  top: 0;
  left: 0;
  height: 107px;
  text-align: center;
  font-size: var(--font-size-2xl);
}

@media screen and (max-width: 960px) {
  .navbar{
    backdrop-filter: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid var(--color-peachpuff);
    position: absolute;
    top: 80px;
    left: -110%;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    left: 0;
    right: 20px;
    transition: all 0.5s ease;
    z-index: 10;
    color: var(--color-peachpuff);
    border: none;
  }

  .nav-links {
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--color-peachpuff);
  }
  .getEarlyAccess{
    align-self: center;
  }
  .languageButton{
    align-self: center;
  }
}
